@model IEnumerable<Preguntas.Models.Pregunta>

@{
    ViewData["Title"] = "Lista de Preguntas";
}

<h1>Lista de Preguntas</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nueva Pregunta</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.TextoPregunta)</th>
            <th>@Html.DisplayNameFor(model => model.FechaCreacion)</th>
            <th>@Html.DisplayNameFor(model => model.Activa)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.TextoPregunta)</td>
                <td>@Html.DisplayFor(modelItem => item.FechaCreacion)</td>
                <td>@Html.DisplayFor(modelItem => item.Activa)</td>
            </tr>
        }
    </tbody>
</table>